[*.{cs,vb}]

dotnet_diagnostic.SA1600.severity = error
dotnet_diagnostic.SA1601.severity = error

# SA1010: Opening square brackets should be spaced correctly
dotnet_diagnostic.SA1010.severity = suggestion
